@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald& display=swap');

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
}

body{
    background-color: #79d8a4;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-indent: 20px;
    text-align: justify;
    color: rgb(58, 58, 58);
}

header{
    background-image: linear-gradient(0deg, #0f4628,#3cd782);
    color: aliceblue;
    box-shadow: 0px 3px 10px #0f4628;
}

.titulo{
    text-align: center;
    padding: 15px;
}

header h1{
    font-family: 'Oswald', sans-serif;
}

header h2{
    font-size: 15px;
    color: rgb(196, 196, 196);
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 1px;
    padding: 10px 10px 10px 0;
    color: aliceblue;
    text-align: center;
}

ul li:hover{
    background-color: #3cd782;
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: #fff;
    margin: 0 auto 10px auto;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

main section .apresentacao h1, h2{
    font-family: 'android';
    text-align: left;
    margin: 10px;
}

main section .apresentacao h1{
    color: #0f4628;
    font-size: 30px;
}

main section article h2{
    color: #106436;
    background-image: linear-gradient(90deg, #3cd7827a, #fff);
}

strong{
    color: #0e7b3f;
}

picture img{
    width: 100%;
}

span a{
    color: #0e7b3f;
    text-decoration: none;
    background-color: #3cd782;
    padding: 5px;
}

span a:hover{
    color: #fff;
}

p{
    margin: 10px;
    line-height: 2em;
}

.bugdroid{
    margin: 20px auto;
    display: block;
    max-width: 300px;
}

.video{
    background-color: #0f4628;
    padding: 10px 20px;
}

iframe{
    width: 97%;
    margin: 10px;
    display: block;
}

.extra{
    background-color: #79d8a4;
    border-radius: 10px;
}

.extra h1{
    background-color: #0e7b3f;
    padding: 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.extra p{
    margin: 10px;
}

footer{
    background-color: #0e7b3f;
    padding: 10px;
}

footer p{
    text-align: center;
    color: #fff;
}

.doces{
    display: inline-block;
}

.segunda{
    margin-left: 200px;
}

.doces li{
    display: block;
    margin: 0;
    padding: 0;
    color: #000;
}